<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan castlist">
<meta name="author" content="Studio REM">
<title>Conkan CastList</title>
[%- SET self_li_id = 'config_cast' -%]
[%- SET useWijGrid = 1 -%]
[%- SET useUiGrid =  0 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-app="wijmo">
  <div class="well" id="gridlist" ng-controller="MyController">
    <wij-grid id="dataGrid" data="list"
        class="table table-bordered"
        allow-col-sizing="true"
        allow-sorting="true"
        allow-keyboard-navigation="true"
        ensureColumnsPxWidth="true"
        highlight-on-hover="false"
>
      <scrolling-settings
        mode="vertical"
        static-row-index="-1"
      ></scrolling-settings>
      <columns>
        <column width="16%" header-text="氏名"></column>
        <column width="16%" header-text="ふりがな"></column>
        <column width="24%" header-text="コンタクトステータス"></column>
        <column width="16%" header-text="補足(連絡先)"></column>
        <column width="16%" header-text="補足(制限事項)"></column>
        <column             header-text=""></column>
      </columns>
    </wij-grid>
    <script type="text/javascript"> <!-- 貼り付けるdataはsrcではなく埋め込み -->
      function MyController( $scope, $locale ) {
        $scope.list = [
          [% FOREACH item = list -%]
            [ "[% item.name | html %]", "[% item.namef | html %]", "[% item.status   | html %]", "[% item.memo | html %]", "[% item.restdate | html %]", "<button type='button' class='btn btn-xs btn-primary' data-toggle='modal' data-target='#editCast' data-whatever='[% item.castid %]'>編集</button>" ],
          [% END %]
            [ "", "", "", "", "", "" ]
        ];
      }
    </script>
  </div> <!-- End of well gridlist -->
  <div id="pgAddDiv">
    <button type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#editCast"
            data-whatever="0">
      追加
    </button>
  </div>
</div> <!-- End of container wijmo -->

<!-- Modal -->
<div class="modal fade" id="editCast" tabindex="-1" role="dialog" aria-labelledby="editCastLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editCastLabel">Edit CastInfo</h4>
      </div>
      <div class="modal-body" id="editCastContent">
        <FORM>情報取得中</FORM>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary" id="dobtn">登録/更新</button>
      </div>
    </div>
  </div>
</div>
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript" src="/static/js/conkan_cast_list.js"></script>
</body>
</html>
