<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan CSV Export">
<meta name="author" content="Studio REM">
<title>Conkan CSV Export</title>
[%- SET self_li_id = 'config_csv' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container">
  <div class="well" id="csvwrap">
    <div>
      <H3 style="margin-top:0px;">CSVダウンロード</H3>
      各データをCSV形式でダウンロードする。(文字コードは国際標準のutf-8)
    </div>
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-10">
      </colgroup>
      <tbody>
        <tr> <!-- 企画情報ダウンロード -->
          <FORM method="POST" action="/program/csvdownload">
            <td class="text-center">
              <button type="submit" id="prgcsvbtn" class="btn fitbtn">
                企画情報CSVダウンロード
              </button>
            </td>
            <td>
              下記で指定した実行ステータスの企画情報をダウンロードする<br/>
              出力内容は
              <div class="well csvwell">
                企画ID, サブNO, 企画名称, 企画名フリガナ, 内容,
                内容事前公開可否, 一般公開可否, 未成年参加可否, 備考,
                実行ステータス, 実行ステータス補足, 実施日時1, 実施日時2,
                部屋番号, 実施場所, 企画紹介文,
                決定出演者(企画ネーム, 肩書, 出演ステータス)...
              </div>
              <div class="well csvform">
                <H4>ダウンロード対象実行ステータス</H4>
                [%- FOREACH stat = conf.pg_status %]
                  <input type="checkbox" name="pg_status" value="[% stat %]"
                  [%- SWITCH stat -%]
                  [%- CASE conf.act_status -%]
                    checked="checked"
                  [%- END -%]
                  >
                    [% stat %]
                  </input>
                [%- END %]
                <input type="checkbox" name="pg_null_stat" value="add">
                  未設定
                </input>
              </div>
            </td>
          </FORM>
        </tr>
        <tr> <!-- TimeTableダウンロード -->
          <td class="text-center">
            <a href="/timetable/csvdownload" target="_blank">
              <button name="timetablebtn" class="btn fitbtn" id="timetablebtn">
                タイムテーブル用CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            タイムテーブル作成用に、日時/場所設定済で実行ステータスが
            [% conf.act_status_str %]
            の企画情報をダウンロードする<br/>
            出力内容は
            <div class="well csvwell">
              企画ID, 企画名称, 実行ステータス, 実行ステータス補足,
              場所番号, 実施場所,
              実施日付1, 開始時刻1, 終了時刻1,
              実施日付2, 開始時刻2, 終了時刻2
            </div>
          </td>
        </tr>
        <tr> <!-- スタッフ一覧ダウンロード -->
          <td class="text-center">
            <a href="/config/staffcsvdownload" target="_blank">
              <button name="staffdlbtn" class="btn fitbtn" id="staffdlbtn">
                スタッフ一覧CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            無効でないスタッフの情報をダウンロードする<br/>
            出力内容は
            <div class="well csvwell">
              名前, アカウント, 役割, メールアドレス, 電話番号,
              大会登録番号, 担当名, 担当名フリガナ、備考
            </div>
          </td>
        </tr>
        <tr> <!-- 出演者一覧ダウンロード -->
          <td class="text-center">
            <a href="/config/castcsvdownload" target="_blank">
              <button name="castdlbtn" class="btn fitbtn" id="castdlbtn">
                出演者一覧CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            無効でない出演者の情報をダウンロードする<br/>
            出力内容は
            <div class="well csvwell">
              大会登録番号, 氏名, フリガナ, コンタクトステータス,
              補足連絡先, 補足制限事項
            </div>
          </td>
        </tr>
        <tr> <!-- 部屋一覧ダウンロード -->
          <td class="text-center">
            <a href="/config/roomcsvdownload" target="_blank">
              <button name="roomdlbtn" class="btn fitbtn" id="roomdlbtn">
                部屋一覧CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            無効でない部屋の情報をダウンロードする<br/>
            出力内容は
            <div class="well csvwell">
              部屋番号, 部屋名, 定員, 形式, 面積, 利用可能時間,
              机数, 椅子数, 附属設備, インタネット回線, 備考
            </div>
          </td>
        </tr>
        <tr> <!-- 機材一覧ダウンロード -->
          <td class="text-center">
            <a href="/config/equipcsvdownload" target="_blank">
              <button name="equipdlbtn" class="btn fitbtn" id="equipdlbtn">
                機材一覧CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            無効でない機材の情報をダウンロードする<br/>
            出力内容は
            <div class="well csvwell">
              機材番号, 名称, 仕様, 補足
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <H3>差しこみデータダウンロード</H3>
      印刷用ソフトでの差し込み印刷に使用するデータをダウンロードする。
      説明欄の xxx.lcx は、無料ソフト
      <a href="http://www.labelyasan.com/" target="_blank">ラベル屋さん</a>
      の印刷フォーマットデータである。
      (ラベル屋さん用なので文字コードはcp932(Shift-JIS))
    </div>
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-10">
      </colgroup>
      <tbody>
        <tr> <!-- 出演者への企画案内書用差しこみデータダウンロード -->
          <FORM method="POST" action="/config/csvdownload/invitate">
            <td class="text-center">
              <button name="invitatebtn" class="btn fitbtn" id="invitatebtn">
                出演者への企画案内書用差しこみ用CSVダウンロード
              </button>
            </td>
            <td>
              下記で指定したコンタクトステータスの出演者への、実行ステータスが
              [% conf.act_status_str %]
              である企画案内用データをダウンロードする。<br/>
              ラベル屋さんフォーマットは
              <a href="/static/lcx/invitate.lcx" target="_blank">
                企画時間案内.lcx
              </a><br/>
              出力内容は
              <div class="well csvwell">
                氏名, 企画案内(企画名称, 実施日時と場所)...
              </div>
              <div class="well csvform">
                <H4>ダウンロード対象 コンタクトステータス</H4>
                [%- FOREACH stat = conf.ct_status %]
                  <input type="checkbox" name="ct_status" value="[% stat %]">
                    [% stat %]
                  </input>
                [%- END %]
                <input type="checkbox" name="ct_null_stat" value="add">
                  未設定
                </input>
              </div>
            </td>
          </form>
        </tr>
        <tr> <!--企画部屋紙用差しこみデータダウンロード -->
          <td class="text-center">
            <a href="/config/csvdownload/forroom" target="_blank">
              <button name="forroombtn" class="btn fitbtn" id="forroombtn">
                企画部屋紙用差しこみデータ用CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            実行ステータスが[% conf.act_status_str %]である企画の、
            部屋案内用データをダウンロードする。<br/>
            ラベル屋さんフォーマットは
            <a href="/static/lcx/forroomv.lcx" target="_blank">企画部屋紙縦.lcx</a>
            または
            <a href="/static/lcx/forroomh.lcx" target="_blank">企画部屋紙横.lcx</a><br/>
            出力内容は
            <div class="well csvwell">
              企画名, 企画番号, 実施日, 開始時刻, 場所名
            </div>
          </td>
        </tr>
        <tr> <!-- 出演者前垂用差しこみデータダウンロード -->
          <FORM method="POST" action="/config/csvdownload/forcast">
            <td class="text-center">
              <button name="forcastbtn" class="btn fitbtn" id="forcastbtn">
                出演者前垂用差しこみデータ用CSVダウンロード
              </button>
            </td>
            <td class="vcenter">
              下記で指定した出演ステータスの出演者への、実行ステータスが
              [% conf.act_status_str %]
              である企画の前垂れ用データをダウンロードする。<br/>
              ラベル屋さんフォーマットは
              <a href="/static/lcx/forcast.lcx" target="_blank">
                出演者前垂.lcx</a><br/>
              出力内容は
              <div class="well csvwell">
                氏名, 企画名, 部屋名, 企画番号, 実施日, 開始時刻
              </div>
              <div class="well csvform">
                <H4>ダウンロード対象 出演ステータス</H4>
                [%- FOREACH stat = conf.cast_status %]
                  <input type="checkbox" name="cast_status" value="[% stat %]">
                    [% stat %]
                  </input>
                [%- END %]
                <input type="checkbox" name="cast_null_stat" value="add">
                  未設定
                </input>
              </div>
            </form>
          </td>
        </tr>
        <tr> <!-- 企画別人数用差しこみデータダウンロード -->
          <td class="text-center">
            <a href="/config/csvdownload/memcnt" target="_blank">
              <button name="memcntbtn" class="btn fitbtn" id="memcntbtn">
                企画別人数用差しこみデータ用CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            <a href="/static/lcx/memcnt.lcx" target="_blank">企画別人数.lcx</a><br/>
            出力内容は
            <div class="well csvwell">
              企画名 企画番号, 実施日, 開始時刻, 部屋名, 内線番号, 出演人数, 裏方人数, 客席人数, 通訳人数
            </div>
          </td>
        </tr>
        <tr> <!-- 企画別出演者用差しこみデータダウンロード -->
          <td class="text-center">
            <a href="/config/csvdownload/castbyprg" target="_blank">
              <button name="castbyprgbtn" class="btn fitbtn" id="castbyprgbtn">
                企画別出演者用差しこみデータ用CSVダウンロード
              </button>
            </a>
          </td>
          <td class="vcenter">
            <a href="/static/lcx/castbyprg.lcx" target="_blank">企画別出演.lcx</a><br/>
            出力内容は
            <div class="well csvwell">
              企画名, 企画番号, 実施日, 開始時刻, 部屋名, 内線番号, 出演者と出演ステータス
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- End of well csvwrap -->
  <div id="pgAddDiv">
  </div>
</div> <!-- End of container ng-app "conkanCsvExport" -->
[%- PROCESS 'tttail.tt' -%]
<!--
<script type="text/javascript">var allprg=true;</script>
<script type="text/javascript" src="/static/js/conkan_csvexport.js"></script>
-->
</body>
</html>
