<!DOCTYPE html>
<html lang="ja" ng-app="conkanEquipList">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan equiplist">
<meta name="author" content="Studio REM">
<title>Conkan EquipList</title>
[%- SET self_li_id = 'config_equip' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-controller="equipListController">
  <div class="well" id="gridlist">
    <div id="equiplist" ui-grid="equipgrid" class="grid" ui-grid-resize-columns >
    </div>
  </div> <!-- End of well gridlist -->
  <div id="pgAddDiv">
    <button type="button" class="btn btn-primary"
        ng-click="openAllEquipForm( 0 )">
      追加
    </button>
  </div>
  [%- PROCESS 'config/T_equip_detail.tt' -%]
  [%- PROCESS 'T_httpget_result.tt' -%]
</div> <!-- End of container ng-controller "equipListController" -->
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript">var uriprefix="[% uriprefix %]";</script>
<script type="text/javascript" src="[% uriprefix %]/static/js/conkan_equip_list.js"></script>
</body>
</html> <!-- End of ng-app "conkanEquipList" -->
