<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan equiplist">
<meta name="author" content="Studio REM">
<title>Conkan EquipList</title>
[%- SET useWijGrid = 1 %]
[% PROCESS 'ttwijgethead.tt' -%]
</head>
[%- SET self_li_id = 'config_equip' -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-app="wijmo">
  <div class="well" id="gridlist" ng-controller="MyController">
    <wij-grid id="dataGrid" data="list"
        class="table table-bordered"
        allow-col-sizing="true"
        allow-sorting="true"
        allow-keyboard-navigation="true"
        ensureColumnsPxWidth="true"
        highlight-on-hover="false"
>
      <scrolling-settings
        mode="vertical"
        static-row-index="-1"
      ></scrolling-settings>
      <columns>
        <column width="32%" header-text="名称"></column>
        <column width="24%" header-text="機材番号"></column>
        <column width="32%" header-text="仕様"></column>
        <column             header-text=""></column>
      </columns>
    </wij-grid>
    <script type="text/javascript"> <!-- 貼り付けるdataはsrcではなく埋め込み -->
      function MyController( $scope, $locale ) {
        $scope.list = [
          [% FOREACH item = list -%]
            [%- IF item.rmdate;
              SET rmcol = "style='background-color:gray;'";
            ELSE;
              SET rmcol = "";
            END -%]
            [ "<span [% rmcol %]>[% item.name | html %]</span>", "<span [% rmcol %]>[% item.equipno | html %]</span>", "<span [% rmcol %]>[% item.spec | html %]</span>", "<span [% rmcol %]><button type='button' class='btn btn-xs btn-primary'
              [%- IF rmcol -%]
                >無効
              [%- ELSE -%]
                data-toggle='modal' data-target='#editEquip' data-whatever='[% item.equipid %]' data-rmcol='[% rmcol %]' >編集
              [%- END -%]
            </button></span>" ],
          [% END %]
            [ "", "", "", "" ]
        ];
      }
    </script>
    <div id="pgAddDiv">
      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#editEquip"
              data-whatever="0" data-rmcol="">
        追加
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editEquip" tabindex="-1" role="dialog" aria-labelledby="editEquipLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editEquipLabel">Edit EquipInfo</h4>
      </div>
      <div class="modal-body" id="editEquipContent">
        <FORM>情報取得中</FORM>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn " id="dodel">削除</button>
        <button type="button" class="btn btn-primary" id="dobtn">登録/更新</button>
      </div>
    </div>
  </div>
</div>
[% PROCESS 'tttail.tt' %]
<script type="text/javascript" src="/static/js/conkan_equip_list.js"></script>
</body>
</html>
