<!DOCTYPE html>
<html lang="ja" ng-app="conkanRoomList">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan roomlist">
<meta name="author" content="Studio REM">
<title>Conkan RoomList</title>
[%- SET self_li_id = 'config_room' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-controller="roomListController">
  <div class="well" id="gridlist">
    <div id="roomlist" ui-grid="roomgrid" class="grid" ui-grid-resize-columns>
    </div>
  </div> <!-- End of well gridlist -->
  <div id="pgAddDiv">
    <button type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#editRoom"
        ng-click="openAllRoomForm( 0 )">
      追加
    </button>
  </div>
  [%- PROCESS 'config/T_room_detail.tt' -%]
  [%- PROCESS 'T_httpget_result.tt' -%]
</div> <!-- End of container ng-app "conkanRoomList -->
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript">var uriprefix="[% uriprefix %]";</script>
<script type="text/javascript" src="[% uriprefix %]/static/js/conkan_room_list.js"></script>
</body>
</html>
