<!DOCTYPE html>
<html lang="ja" ng-app="conkanProfile">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan stafflist">
<meta name="author" content="Studio REM">
<title>Conkan StaffList</title>
[%- SET self_li_id = 'config_staff' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-controller="profileController">
  <div class="well" id="gridlist" ng-controller="staffListController">
    <div id="stafflist" ui-grid="staffgrid" class="grid" ui-grid-resize-columns>
    </div>
  </div> <!-- End of well gridlist ng-controller "staffListController" -->
  <div id="pgAddDiv">
    <a href="/config/loginlog" type="button" class="btn btn-primary">
      ログイン履歴
    </a>
  </div>
  [%- PROCESS 'config/T_prof_input.tt' -%]
  [%- PROCESS 'T_httpget_result.tt' -%]
</div> <!-- End of container ng-controller "profileController" -->
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript" src="/static/js/conkan_profile.js"></script>
<script type="text/javascript" src="/static/js/conkan_staff_list.js"></script>
</body>
</html> <!-- End of container ng-app "conkanProfile" -->
