<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan initialize">
<meta name="author" content="Studio REM">
<title>Conkan StaffList</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
[%- SET self_li_id = 'mypage_profile' -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container">
  <div class="well" id="stafflist">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-small pull-right" href="add">スタッフ追加</a>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <colgroup>
        <col class="col-md-3">
        <col class="col-md-2">
        <col class="col-md-3">
        <col class="col-md-2">
      </colgroup>
      <thead>
        <tr bgcolor="#FFcc66">
          <th>名前</th>
          <th>役割</th>
          <th>担当名</th>
          <th></th>
      </thead>
      <tbody>
        [% FOREACH item = list %]
          <tr>
            <td>[% item.name  | html %]</td>
            <td>[% item.role  | html %]</td>
            <td>[% item.tname | html %]</td>
            <td><a href="[% item.staffid %]">更新</a></td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>
</div>
[% PROCESS 'tttail.tt' %]
</body>
</html>

