<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan stafflist">
<meta name="author" content="Studio REM">
<title>Conkan StaffList</title>
[%- SET self_li_id = 'config_staff' -%]
[%- SET useWijGrid = 0 %]
[%- SET useUiGrid = 1 %]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-app="conkanStaffList">
  <div class="well" id="gridlist" ng-controller="staffListController">
    <div id="stafflist" ui-grid="staffgrid" class="grid" ui-grid-resize-columns ui-grid-pinning ui-grid-grouping>
    </div>
  </div> <!-- End of well gridlist -->
</div> <!-- End of container ng-app "conkanStaffList" -->
<!-- スタッフリスト値設定サービス(ttで初期化) -->
[% PROCESS 'ttstaffval.tt' %]
<!-- スタッフ詳細モーダル -->
<div class="modal fade" id="editStaff" tabindex="-1" role="dialog" aria-labelledby="editStaffLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editStaffLabel">Edit Profile</h4>
      </div>
      <div class="modal-body" id="editStaffContent">
        <FORM>情報取得中</FORM>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn " id="dodel">削除</button>
        <button type="button" class="btn btn-primary" id="dobtn">更新</button>
      </div>
    </div>
  </div>
</div>
[% PROCESS 'tttail.tt' %]
<script type="text/javascript" src="/static/js/conkan_staff_list.js"></script>
</body>
</html>
