<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan access deny">
<meta name="author" content="Studio REM">
<title>412 Access Deny</title>
[%- SET useWijGrid = 0 %]
[%- SET useUiGrid = 0 %]
[% PROCESS 'tthead.tt' %]
<div class="container">
  <H1>412 Access Deny</H1>
  アクセスする権限がありません
</div>
[% PROCESS 'tttail.tt' %]
</body>
</html>
