<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan initialize">
<meta name="author" content="Studio REM">
<title>Conkan Initialize</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<H1>conkan初期化ページ</H1>

<FORM class="well" method="POST" action="/initialprocess">
<div>
<label>adminパスワード</label><br/>
<input type="password" name="adpw" class="input-small" placeholder="Password">
<span class="help-inline">スタッフ登録専用アカウントのパスワード</span>
</div>
<BR/>
<label>DB接続情報</label><br/>
<table border="0">
<TR><TH>DBサーバ</TH>
<TD>
    <input type="text" name="dbsv" class="span4" placeholder="FQDN or IP Addr">
    <span class="help-inline">DBサーバのFQDNまたはIPアドレス</span>
</TD></TR>
<TR><TH>DB名</TH>
<TD>
    <input type="text" name="dbnm" class="span4" placeholder="DatabaseName">
    <span class="help-inline">作成したDB名</span>
</TD></TR>
<TR><TH>DBユーザ</TH>
<TD>
    <input type="text" name="dbus" class="span4" placeholder="user">
    <span class="help-inline">DB管理ユーザ名</span>
</TD></TR>
<TR><TH>DBパスワード</TH>
<TD>
    <input type="password" name="dbpw" class="span4" placeholder="Password">
    <span class="help-inline">DB管理ユーザのパスワード</span>
</TD></TR>
</table>
<BR/>
<button type="submit" class="btn btn-primary btn-large">初期化実行</button>
</FORM>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
