<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan initialize">
<meta name="author" content="Studio REM">
<title>Conkan Initializing...</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <H1>conkan初期化完了&gt;&gt;管理者登録</H1>
  <div class="well" id="init">
    <FORM method="POST" action="/login">
      <input type="hidden" name="account" value="admin"></input>
      <button type="submit" class="btn btn-primary btn-large">
        管理者login
      </button>
      <span class="help-inline"><B>admin</B>としてloginし、管理者を登録</span>
    </FORM>
  </div>
</div>
</body>
</html>

