<!-- #Region "ttwijgethead.tt" -->
<!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<!-- Wijmo CSS and script -->
<link href="/static/css/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
<link href="/static/css/jquery.wijmo-pro.all.3.20151.71.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/js/jquery.wijmo-open.all.3.20151.71.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.wijmo-pro.all.3.20151.71.min.js"></script>
<!-- Angular. This must come after jQuery. -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angular.wijmo.3.20151.71.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/conkan-wijimo.css" />
<!-- #End Region "ttwijgethead.tt" -->
