<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan under constraction">
<meta name="author" content="Studio REM">
<title>Under Constraction</title>
[%- SET useWijGrid = 0 %]
[%- SET useUiGrid = 0 %]
[% PROCESS 'tthead.tt' %]
<div class="container">
  <div class="well">
  <H1>Page not found</H1>(開発中)
  </div>
</div>
[% PROCESS 'tttail.tt' %]
</body>
</html>
