<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:cbl="http://schemas.cybozulive.com/common/2010">
  <cbl:operation type="insert"/>
    <id>
      [%- chatid -%]
    </id>
  <entry>
    <summary type="text">
[% name %]さま
こちらは、conkanシステムからの自動送信メッセージです。

conkanシステムにユーザ登録しました。
    [% c.url_for('/login') %]
に、下記のアカウントとパスワードでloginしてください。
セキュリティ上の観点から、最初にパスワードを変更することをおすすめします。

    アカウント: [% account %]
    パスワード: [% passwd  %]
    </summary>
  </entry>
</feed>'
