<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan profile">
<meta name="author" content="Studio REM">
<title>Conkan Timetable</title>
[%- SET useWijGrid = 0 %]
[%- SET useUiGrid = 1 %]
[% PROCESS 'ttwijgethead.tt' -%]
<link rel="stylesheet" href="/static/css/conkan-timetable.css" />
</head>
[%- SET self_li_id = 'timetable' -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-app="conkanTimeTable">
  <div class="row" id="timetable_up">
    <div id="unset_pglist_wrap" class="col-sm-2">
      <!-- Left: 場所/時刻 未設定企画一覧 -->
      <dl ng-controller="unsetlistController">
        <dt ng-repeat="prg in unsetprglist">
          <button class="btn primary prgcell" ng-click="unsetclick(prg.pgid)">
            {{prg.regpgid}}({{prg.subno}}):{{prg.sname}}
          </button>
        </dt>
      </dl>
    </div>
    <div id="timetable_wrap" class="col-sm-10" ng-controller="timetableController">
      <div class="row">
          <div class="col-sm-6"></div>
          <div class="showbtnon showbtn col-sm-3" id="roombtn" ng-click="showbyroom()">部屋別</div>
          <div class="showbtn col-sm-3" id="castbtn" ng-click="showbycast()">出演者別</div>
      </div>
      <div id="timetable_room" ui-grid="ttgridbyroom" class="grid" ui-grid-resize-columns ui-grid-pinning>
        <!-- Main: タイムテーブル表示: 部屋別 -->
      </div>
      <div id="timetable_cast" ui-grid="ttgridbycast" class="grid" ui-grid-resize-columns ui-grid-pinning>
        <!-- Main: タイムテーブル表示: 出演者別 -->
      </div>
    </div>
  </div> <!-- End of timetable_up -->
  <div class="row" id="timetable_down">
    <div id="timetable_edit_form" ng-controller="timeformController">
          <!-- Bottom: 場所/時刻設定フォーム -->
      <div class="form-group">
        <input type="hidden" ng-model="current.pgid">
      </div>
      <table class="table table-bordered table-condensed">
        <colgroup>
          <col class="col-sm-1">
          <col class="col-sm-2">
          <col class="col-sm-3">
          <col class="col-sm-1">
          <col class="col-sm-1">
          <col class="col-sm-1">
          <col class="col-sm-3">
        </colgroup>
        <tbody>
          <tr>
            <td>
              {{current.regpgid}}{{current.subno}}
            </td>
            <th style="text-align: right">企画名</th>
            <th colspan="3">{{current.name}}</th>
            <td colspan="2">
              {{current.sname}}
            </td>
          </tr>
          <tr>
          </tr>
          <tr>
            <th style="text-align: right">日時1</th>
            <td>
              <select class="col-sm-12" ng-model="current.date1"
                  ng-options="i.id as i.val for i in dateslist"></select>
            </td>
            <td>
              <select class="col-sm-2" ng-model="current.shour1"
                  ng-options="i.id as i.val for i in shourslist"></select>
              <select class="col-sm-2" ng-model="current.smin1"
                  ng-options="i.id as i.val for i in minslist"></select>
              <div align="center" class="col-sm-1"> - </div>
              <select class="col-sm-2" ng-model="current.ehour1"
                  ng-options="i.id as i.val for i in ehourslist"></select>
              <select class="col-sm-2" ng-model="current.emin1"
                  ng-options="i.id as i.val for i in minslist"></select>
            <th style="text-align: right">日時2</th>
            <td colspan="2">
              <select class="col-sm-12" ng-model="current.date2"
                  ng-options="i.id as i.val for i in dateslist"></select>
            </td>
            <td>
              <select class="col-sm-2" ng-model="current.shour2"
                  ng-options="i.id as i.val for i in shourslist"></select>
              <select class="col-sm-2" ng-model="current.smin2"
                  ng-options="i.id as i.val for i in minslist"></select>
              <div align="center" class="col-sm-1"> - </div>
              <select class="col-sm-2" ng-model="current.ehour2"
                  ng-options="i.id as i.val for i in ehourslist"></select>
              <select class="col-sm-2" ng-model="current.emin2"
                  ng-options="i.id as i.val for i in minslist"></select>
            </td>
          </tr>
          <tr>
            <th style="text-align: right">場所</th>
            <td colspan="2">
              <select class="col-sm-12" ng-model="current.roomid"
                  ng-options="i.id as i.val for i in roomlist"></select>
            </td>
            <th style="text-align: right" colspan="2">実行ステータス</th>
            <td>
              <select class="col-sm-12" ng-model="current.stat"
                  ng-options="i.id as i.val for i in statuslist"></select>
            </td>
            <td style="text-align: center">
                <button type="submit" class="btn" id="applybtn"
                    ng-click="doApply()">
                  反映
                </button>
            </td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div> <!-- End of timetable_edit_form -->
  </div> <!-- End of timetable_down -->
  <!-- 各コントローラが使う値設定サービス(ttで初期化) -->
  [% PROCESS 'tttimeselval.tt' %]
  <!-- 更新結果表示用モーダル -->
  <!--  更新成功 -->
  <script type="text/ng-template" id="T_result_update">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <H3><strong>更新しました</strong></H3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="$close()">閉じる</button>
    </div>
  </script>
  <!--  更新失敗 -->
  <script type="text/ng-template" id="T_result_fail">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <H3><strong>更新できませんでした</strong></H3>
      他スタッフが変更した可能性があります<br/>
      設定値を確認してください
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="$close()">閉じる</button>
    </div>
  </script>
  <!--  更新失敗(DBエラー) -->
  <script type="text/ng-template" id="T_result_dberr">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <H3><strong>DBエラー発生</strong></H3>
      更新できませんでした<br/>
      システム管理者に連絡してください
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="$close()">閉じる</button>
    </div>
  </script>
</div>
[% PROCESS 'tttail.tt' %]
<script type="text/javascript" src="/static/js/conkan_timetable.js"></script>
</body>
</html>

