<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan profile">
<meta name="author" content="Studio REM">
<title>Conkan Timetable</title>
[%- SET useWijGrid = 0 %]
[%- SET useUiGrid = 1 %]
[% PROCESS 'ttwijgethead.tt' -%]
<link rel="stylesheet" href="/static/css/conkan-timetable.css" />
</head>
[%- SET self_li_id = 'timetable' -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-app="conkanTimeTable">
  <div class="row" id="timetable_up">
    <div id="unset_pglist_wrap" class="col-sm-2">
      <!-- Left: 場所/時刻 未設定企画一覧 -->
      <dl ng-controller="unsetlistController">
        <dt ng-repeat="prg in unsetprglist">
          <a ng-click="unsetclick(prg.pgid)">
            {{prg.regpgid}}({{prg.subno}}):{{prg.sname}}
          </a>
        </dt>
      </dl>
    </div>
    <div id="timetable_wrap" class="col-sm-10" ng-controller="timetableController">
      <div class="row">
          <div class="col-sm-6"></div>
          <div class="showbtn col-sm-3" ng-click="showbyroom()">部屋別</div>
          <div class="showbtn col-sm-3" ng-click="showbycast()">出演者別</div>
      </div>
      <div id="timetable_room" ui-grid="ttgridbyroom" class="grid">
        <!-- Main: タイムテーブル表示: 部屋別 -->
      </div>
      <div id="timetable_cast" ui-grid="ttgridbycast" class="grid">
        <!-- Main: タイムテーブル表示: 出演者別 -->
      </div>
    </div>
  </div> <!-- End of timetable_up -->
  <div class="row" id="timetable_down">
    <div id="timetable_edit_form" ng-controller="timeformController">
          <!-- Bottom: 場所/時刻設定フォーム -->
      <div class="form-group">
        <input type="hidden" ng-model="current.pgid">
        <input type="hidden" ng-model="current.id">
        <input type="hidden" ng-model="current.target">
      </div>
      <table class="table table-bordered table-condensed">
        <colgroup>
          <col class="col-sm-1">
          <col class="col-sm-2">
          <col class="col-sm-3">
          <col class="col-sm-1">
          <col class="col-sm-1">
          <col class="col-sm-1">
          <col class="col-sm-3">
        </colgroup>
        <tbody>
          <tr>
            <td>
              {{current.regpgid}}{{current.subno}}
            </td>
            <th style="text-align: right">企画名</th>
            <th colspan="3">{{current.name}}</th>
            <td colspan="2">
              {{current.sname}}
            </td>
          </tr>
          <tr>
          </tr>
          <tr>
            <th style="text-align: right">日時1</th>
            <td>
              <select class="col-sm-12" ng-model="current.date1"
                  ng-options="i.id as i.val for i in dateslist"></select>
            </td>
            <td>
              <select class="col-sm-2" ng-model="current.shour1"
                  ng-options="i.id as i.val for i in shourslist"></select>
              <select class="col-sm-2" ng-model="current.smin1"
                  ng-options="i.id as i.val for i in minslist"></select>
              <div align="center" class="col-sm-1"> - </div>
              <select class="col-sm-2" ng-model="current.ehour1"
                  ng-options="i.id as i.val for i in ehourslist"></select>
              <select class="col-sm-2" ng-model="current.emin1"
                  ng-options="i.id as i.val for i in minslist"></select>
            <th style="text-align: right">日時2</th>
            <td colspan="2">
              <select class="col-sm-12" ng-model="current.date2"
                  ng-options="i.id as i.val for i in dateslist"></select>
            </td>
            <td>
              <select class="col-sm-2" ng-model="current.shour2"
                  ng-options="i.id as i.val for i in shourslist"></select>
              <select class="col-sm-2" ng-model="current.smin2"
                  ng-options="i.id as i.val for i in minslist"></select>
              <div align="center" class="col-sm-1"> - </div>
              <select class="col-sm-2" ng-model="current.ehour2"
                  ng-options="i.id as i.val for i in ehourslist"></select>
              <select class="col-sm-2" ng-model="current.emin2"
                  ng-options="i.id as i.val for i in minslist"></select>
            </td>
          </tr>
          <tr>
            <th style="text-align: right">場所</th>
            <td colspan="2">
              <select class="col-sm-12" ng-model="current.roomid"
                  ng-options="i.id as i.val for i in roomlist"></select>
            </td>
            <th style="text-align: right" colspan="2">実行ステータス</th>
            <td>
              <select class="col-sm-12" ng-model="current.stat"
                  ng-options="i.id as i.val for i in statuslist"></select>
            </td>
            <td style="text-align: center">
                <button type="submit" class="btn" id="applybtn"
                    ng-click="doApply()">
                  反映
                </button>
            </td>
          </tr>
          <tr>
        </tbody>
      </table>
      <!-- 各コントローラが使う値設定サービス(ttで初期化) -->
      [% PROCESS 'tttimeselval.tt' %]
    </div> <!-- End of timetable_edit_form -->
  </div> <!-- End of timetable_down -->
</div>
[% PROCESS 'tttail.tt' %]
<script type="text/javascript" src="/static/js/conkan_timetable.js"></script>
</body>
</html>

