// ## conkan common css
#gridlist {
    margin-bottom: 0px;
}

#pgAddDiv {
    margin-bottom: 0px;
    padding-left: 10px;
}

.ng-dirty .ng-invalid {
    background-color: #ff8e8e;
}

#valerr {
    margin-left: 10px;
    color: Red;
}

.vcenter {
   vertical-align: middle !important;
}

.fitbtn {
    width: 100% !important;
    color: #337ab7 !important;
}

#csvwrap {
    overflow-y: auto;
}

#detailwrap {
    overflow-y: auto;
}

.csvwell {
    padding: 0px;
    padding-left: 19px;
    margin: 0px;
    border: none;
    background-color: inherit;
    font-style: italic;
    display: inline-block;
}
.well {
    margin-bottom: 0px;
}

.header {
    font-size: 20px;
    font-style: italic;
}

.footer {
    text-align: right;
}

.csvform {
    padding-top: 0px;
    padding-bottom: 5px;
    margin: 0px;
}

.form-group {
    margin-bottom: 10px;
}

#profform label {
    text-align: right;
}

.container {
    min-width: 1100px;
}

.rmcast {
    background-color: #aaa;
}

.ui-grid-header {
    padding: 0px;
    border: 0px;
}

.ui-grid-canvas {
    padding: 0px;
}

.grid {
    height: 600px;
    overflow: hidden;
}

.gridcelbtn {
    text-align: center !important;
}

.ui-grid-vcenter div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.disableRow {
    background-color:lightgray !important;
    width: 100%;
}

.nogridmenu .ui-grid-column-menu-button {
    display: none;
}

.modal-header {
    padding: 5px;
    cursor: move;
    background-color: rgba(51, 122, 183, 0.59);
}

.modal-body {
    overflow-y: auto;
    min-height: 200px;
}

.ral th {
    text-align: right;
}

select:disabled, input:disabled {
    border-width: 0px;
    background-color:   inherit;
}

#progresslist {
    height: 212px;
    /* ui-Gridのデフォルト行高さ * ( 1ページ行数 + ヘッダ行 ) + panel高  */
    /* 30 * ( 5 + 1 ) + 32 ) */
}

#progresslist .ui-grid-vcenter div {
    white-space: pre-line;
    overflow:   auto;
    line-height: 1;
}

@media (min-width: 1520px) {
    .container {
        width: 1500px;
    }
}
// ## END of conkan common css
