// ## conkan common css
#gridlist {
    margin-bottom: 0px;
}

#pgAddDiv {
    margin-bottom: 10px;
    padding-left: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.container {
    min-width: 1100px;
}

@media (min-width: 1520px) {
    .container {
        width: 1500px;
    }
}
// ## END of conkan common css
