// ## conkan ui-grid css
.ui-grid-header {
    padding: 0px;
    border: 0px;
}

.ui-grid-canvas {
    padding: 0px;
}

.grid {
    height: 600px;
    overflow: hidden;
}

.disableRow {
    background-color:gray !important;
    width: 100%;
}
// ## END of conkan ui-grid css
