<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan Program List">
<meta name="author" content="Studio REM">
<title>Conkan ProgramList</title>
[%- SET useWijGrid = 1 %]
[% PROCESS 'ttwijgethead.tt' -%]
</head>
[%- SET self_li_id = 'program_list' %]
[% PROCESS 'tthead.tt' %]
<div class="container" ng-app="wijmo">
  [%- SET allprg = 1 %]
  <div class="well" id="programlist" ng-controller="MyController">
    [% PROCESS 'ttpglist.tt' -%]
    <div id="pgAddDiv">
    [%- IF cuRole == 'ROOT' %]
      <button type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#addProgram">
        追加
      </button>
    [% END -%]
    </div>
  </div> <!-- End of well programlist -->
</div> <!-- End of container wijmo -->
<!-- Modal add -->
<div class="modal fade" id="addProgram" tabindex="-1" role="dialog" aria-labelledby="addProgramLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addProgramLabel">add new Program</h4>
      </div>
      <div class="modal-body" id="addProgram">
        <FORM id="newProgram" role="form" method="POST" action="/program/add" enctype="multipart/form-data">
          <div class="form-group">
            <label for="jsoninputfile">企画登録ファイル(JSON)</label>
            <input type="file" name= "jsoninputfile" id="jsoninputfile">
            <p class="help-block">企画申し込みが生成したJSONファイル</p>
          </div>
          <button type="submit" class="btn btn-primary" id="doadd">追加</button>
        </FORM>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>
[% PROCESS 'tttail.tt' %]
<script type="text/javascript" src="/static/js/conkan_prog_list.js"></script>
</body>
</html>
