<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan Program Detail">
<meta name="author" content="Studio REM">
<title>Conkan Program Detail</title>
[%- DEFAULT self_li_id = 'program_list' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container">
  [%- PROCESS 'ttpgdetail.tt' -%]
</div>
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript" src="/static/js/conkan_prog_detail.js"></script>
</body>
</html>
