<!DOCTYPE html>
<html lang="ja" ng-app="conkanProgDetail">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan Program Detail">
<meta name="author" content="Studio REM">
<title>Conkan Program Detail</title>
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
[%- SET editable = 0;
  SET urole = c.user.get('role');
  IF urole == 'ROOT' || urole == 'PG';
    SET editable = 1;
  END;
  IF c.user.get('staffid') == Program.staffid.staffid;
    SET editable = 1;
END -%]
[%- PROCESS 'ttpgupmc.tt' -%]
<div class="container" ng-controller="progDetailController">
  <!-- 企画概要 -->
  <div class="well" id="reg_program">
    [% subtag( { 'reg_program' => 'bg-info' } ) %]
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-1">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-1">
      </colgroup>
      <tbody>
        <tr>
          <th>企画ID</th> <td>[% RegProgram.regpgid %] ([% Program.subno %])</td>
          <td colspan="6">
            <b>[% RegProgram.name | html %]</b>
            ([% RegProgram.namef | html %])
          </td>
        </tr>
        <tr>
          <th>内容</th>
          <td colspan="7">[% RegProgram.content | html %]</td>
        </tr>
        <tr>
          <th colspan="2">申込者名</th> <td>[% RegProgram.regname | html %]</td>
          <th>申込日付</th> <td>[% RegProgram.regdate | html %]</td>
          <th>企画立案経験</th>
          <td colspan="2">[% RegProgram.experience | html %]</td>
        </tr>
        [%- IF editable %]
          <tr>
            <th colspan="2">大会登録番号</th>
            <td>[% RegProgram.regno | html %]</td>
            <th>メールアドレス</th>
            <td colspan="4">[% RegProgram.regma | html %]</td>
          </tr>
          <tr>
            <th colspan="2">電話番号</th> <td>[% RegProgram.telno | html %]</td>
            <th>FAX番号</th> <td>[% RegProgram.faxno | html %]</td>
            <th>携帯番号</th> <td colspan="2">[% RegProgram.celno | html %]</td>
          </tr>
        [% END %]
        <tr>
          <th colspan="2">企画種別</th> <td>[% RegProgram.type | html %]</td>
          <th>予想参加者</th> <td>[% RegProgram.expmaxcnt | html %]</td>
          <th>希望場所</th> <td colspan="2">[% RegProgram.place | html %]</td>
        </tr>
        <tr>
          <th colspan="2">希望日時</th> <td>[% RegProgram.date | html %]</td>
          <th>希望レイアウト</th> <td>[% RegProgram.layout | html %]</td>
          <th>希望コマ数</th>
          <td colspan="2">[% RegProgram.classlen | html %]</td>
        </tr>
        <tr>
          <th colspan="2">内容事前公開</th>
          <td>[% RegProgram.contentpub | html %]</td>
          <th>リアルタイム公開</th> <td>[% RegProgram.realpub | html %]</td>
          <th>事後公開</th> <td colspan="2">[% RegProgram.afterpub | html %]</td>
        </tr>
        <tr>
          <th colspan="2">一般公開可否</th> <td>[% RegProgram.openpg | html %]</td>
          <th>未成年参加可否</th> <td>[% RegProgram.restpg | html %]</td>
        </tr>
        <tr>
          <th colspan="2">重なると困る企画</th>
          <td colspan="6">[% RegProgram.avoiddup | html %]</td>
        </tr>
        <tr>
          <th colspan="2">備考</th>
          <td colspan="5">[% RegProgram.comment | html %]</td>
          <td align="center">
            [%- IF editable %]
              <button type="button" class="btn btn-warning btn-xs"
                data-toggle="modal"
                data-target="#PgEdit"
                data-whatpgid="[% Program.pgid | html %]"
                data-whatitem="-"
                data-whattarget="regprogram"
              >
                編集
              </button>
            [% END %]
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-1">
      </colgroup>
      <tbody>
        <tr>
          <th>企画短縮名</th> <td colspan="6">[% Program.sname | html %]</td>
        </tr>
        <tr>
          <th>担当スタッフ</th> <td>[% Program.staffid.tname | html %]</td>
          <th>実行ステータス</th>
          <td>[% Program.status | trim | html %]</td>
          <td colspan="3">[% Program.memo | trim | html %]</td>
        </tr>
        [% USE date = date(format = '%Y/%m/%d') %]
        <tr>
          <th>実施日時1</th>
          [% IF Program.date1 %]
            <td>[% date.format(Program.date1) %]</td>
            <td colspan="5">
              [%- Program.shour1 -%]:[%- Program.smin1 -%]-
              [%- Program.ehour1 -%]:[%- Program.emin1 -%]
            </td>
          [% ELSE %]
            <td></td>
            <td colspan="5"></td>
          [% END %]
        </tr>
        <tr>
          <th>実施日時2</th>
          [% IF Program.date2 %]
            <td>[% date.format(Program.date2) %]</td>
            <td colspan="5">
              [%- Program.shour2 -%]:[%- Program.smin2 -%]-
              [%- Program.ehour2 -%]:[%- Program.emin2 -%]
            </td>
          [% ELSE %]
            <td></td>
            <td colspan="5"></td>
          [% END %]
        </tr>
        <tr>
          <th>場所</th> <td colspan="2">[% Program.roomid.name | html %]</td>
                        <td>[% Program.roomid.roomno | html %]</td>
          <th>表示順序</th> <td colspan="2">[% Program.layerno | html %]</td>
        </tr>
        <tr>
          <th>企画紹介文</th> <td colspan="5">[% Program.progressprp | html %]</td>
          <td align="center">
            [%- IF editable %]
              <button type="button" class="btn btn-warning btn-xs"
                ng-click="openPgEditForm([% Program.pgid %])">
                編集
              </button>
            [% END %]
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- 要望出演者 -->
  <div class="well" id="reg_cast">
    [% subtag( { 'reg_cast' => 'bg-info' } ) %]
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-3">
        <col class="col-sm-3">
        <col class="col-sm-2">
        <col class="col-sm-2">
      </colgroup>
      <thead>
        <tr>
          <th style="text-align:center;">氏名</th>
          <th style="text-align:center;">フリガナ</th>
          <th style="text-align:center;">肩書</th>
          <th style="text-align:center;">出演交渉</th>
          <th style="text-align:center;">ゲスト申請</th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH item = RegCasts %]
          <tr>
            <td>[% item.name         | html %]</td>
            <td>[% item.namef        | html %]</td>
            <td>[% item.title        | html %]</td>
            <td>[% item.needreq      | html %]</td>
            <td>[% item.needguest    | html %]</td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>
  <!-- 決定出演者 -->
  <div class="well" id="cast">
    [% subtag( { 'cast' => 'bg-info' } ) %]
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-2">
        [%- IF editable %]
          <col class="col-sm-2">
        [% END %]
        <col class="col-sm-2">
        <col class="col-sm-1">
      </colgroup>
      <thead>
        <tr>
          <th style="text-align:center;">氏名</th>
          <th style="text-align:center;">企画ネーム</th>
          <th style="text-align:center;">肩書</th>
          <th style="text-align:center;">コンタクトステータス</th>
          [%- IF editable %]
            <th style="text-align:center;">補足(連絡先)</th>
          [% END %]
          <th style="text-align:center;">出演ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH item = Casts %]
          [% IF item.status == '企画不参加' || item.status == '大会不参加' || item.status == 欠席 || item.status == '企画中止';
            SET rmcol = 'background-color:#aaa;';
          ELSE;
            SET rmcol = '';
          END %]
          <tr>
            <td style="[% rmcol %]">[% item.castid.regno %] [% item.castid.name   | html %]</td>
            <td style="[% rmcol %]">[% item.name          | html %]</td>
            <td style="[% rmcol %]">[% item.title         | html %]</td>
            <td style="[% rmcol %]">[% item.castid.status | html %]</td>
            [%- IF editable %]
              <td style="[% rmcol %]">[% item.castid.memo | html %]</td>
            [% END %]
            <td style="[% rmcol %]">[% item.status        | html %]</td>
            <td  style="[% rmcol %]" align="center">
              [%- IF editable %]
                <button type="button" class="btn btn-warning btn-xs"
                  data-toggle="modal"
                  data-target="#PgEdit"
                  data-whatpgid="[% Program.pgid | html %]"
                  data-whatitem="[% item.id | html %]"
                  data-whattarget="cast"
                >
                  編集
                </button>
              [% END %]
            </td>
          </tr>
        [% END %]
        [%- IF editable %]
          <tr>
            <td align="center">
              <button type="button" class="btn btn-primary btn-xs"
                data-toggle="modal"
                data-target="#PgEdit"
                data-whatpgid="[% Program.pgid | html %]"
                data-whatitem="0"
                data-whattarget="cast"
              >
                追加
              </button>
            </td>
            <td colspan="6"></td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>
  <!-- 要望機材 -->
  <div class="well" id="reg_equip">
    [% subtag( { 'reg_equip' => 'bg-info' } ) %]
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-2">
        <col class="col-sm-1">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-2">
        <col class="col-sm-3">
      </colgroup>
      <thead>
        <tr>
          <th style="text-align:center;">機材名</th>
          <th style="text-align:center;">数量</th>
          <th style="text-align:center;">映像接続</th>
          <th style="text-align:center;">音声接続</th>
          <th style="text-align:center;">LAN接続</th>
          <th style="text-align:center;">LAN利用目的</th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH item = RegEquips %]
          <tr>
            <td>[% item.name    | html %]</td>
            <td>[% item.count   | html %]</td>
            <td>[% item.vif     | html %]</td>
            <td>[% item.aif     | html %]</td>
            <td>[% item.eif     | html %]</td>
            <td>[% item.intendE | html %]</td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>
  <!-- 決定機材 -->
  <div class="well" id="equip">
    [% subtag( { 'equip' => 'bg-info' } ) %]
    <table class="table table-bordered table-condensed"
     style="background-color:white;">
      <colgroup>
        <col class="col-sm-3">
        <col class="col-sm-2">
        <col class="col-sm-6">
        <col class="col-sm-1">
      </colgroup>
      <thead>
        <tr>
          <th style="text-align:center;">機材名</th>
          <th style="text-align:center;">機材番号</th>
          <th style="text-align:center;">仕様</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        [% FOREACH item = Equips %]
          <tr>
            <td>[% item.equipid.name    | html %]</td>
            <td>[% item.equipid.equipno | html %]</td>
            <td>[% item.equipid.spec    | html %]</td>
            <td align="center">
              [%- IF editable %]
                <button type="button" class="btn btn-warning btn-xs"
                  data-toggle="modal"
                  data-target="#PgEdit"
                  data-whatpgid="[% Program.pgid | html %]"
                  data-whatitem="[% item.id | html %]"
                  data-whattarget="equip"
                >
                  編集
                </button>
              [% END %]
            </td>
          </tr>
        [% END %]
        [%- IF editable %]
          <tr>
            <td align="center">
              <button type="button" class="btn btn-primary btn-xs"
                data-toggle="modal"
                data-target="#PgEdit"
                data-whatpgid="[% Program.pgid | html %]"
                data-whatitem="0"
                data-whattarget="equip"
              >
                追加
              </button>
            </td>
            <td colspan="4"></td>
          </tr>
        [% END %]
      </tbody>
    </table>
  </div>
  <!-- 進捗 -->
  <div class="well" id="progress">
    [% subtag( { 'progress' => 'bg-info' } ) %]
    <FORM id="addProgress" role="form" method="POST" action="/program/progress">
      <input type="hidden" name="regpgid", id="progress_regpgid"
          value="[% RegProgram.regpgid %]"/>
      <input type="hidden" name="pgid", id="progress_pgid"
          value="[% Program.pgid %]"/>
      [% pguptextarea( 'progress', '', 12, 3 ) %]
      <button type="submit" class="btn btn-primary btn-xs">上記内容を進捗として追加</button>
    </FORM>
    <div id="gridlist" ng-controller="progressListController">
      <div id="progresslist" ui-grid="progressgrid" class="grid" ui-grid-resize-columns ui-grid-pagination>
      </div>
    </div> <!-- End of well gridlist -->
  </div>
  <!-- 複製/分割 -->
  [%- IF editable %]
    <FORM id="pgcpysepform" role="form" method="POST" action="/program/cpysep">
      <div class="form-group">
        <input type="hidden" name="pgid" value="[% Program.pgid %]">
        <input type="hidden" name="regpgid" value="[% RegProgram.regpgid %]">
        <input type="hidden" name="cpysep_act", id="cpysep_act" value="">
      </div>
      <table class="table table-bordered table-condensed">
        <colgroup>
          <col class="col-sm-1">
          <col class="col-sm-1">
          <col class="col-sm-10">
        </colgroup>
        <tbody>
          <tr>
            <td align="center">
              <button type="submit" class="btn btn-warning btn-xs"
                  data-cpysep="cpy">
                企画複製
              </button>
            </td>
            <td align="center">
              <button type="submit" class="btn btn-warning btn-xs"
                  data-cpysep="sep">
                企画分割
              </button>
            </td>
        </tbody>
      </table>
    </FORM>
  [% END %]
  
  <!-- Modal -->
  <div class="modal fade" id="PgEdit" tabindex="-1" role="dialog"
   aria-labelledby="PgEditLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="PgEditDialog">
      <div class="modal-content">
        <div class="modal-header" id="PgEditHeader">
          <button type="button" class="close" data-dismiss="modal"
           aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="PgEditLabel">Edit ProgramInfo</h4>
        </div>
        <div class="modal-body" id="PgEditContent" style="overflow-y:auto;">
          <FORM>情報取得中</FORM>
        </div>
        <div class="modal-footer" id="PgEditFooter">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            閉じる
          </button>
          <button type="button" class="btn " id="dodel">削除</button>
          <button type="button" class="btn btn-primary" id="dobtn">更新</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 企画詳細編集ダイアログ -->
  <script type="text/ng-template" id="T_pgup_program">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$close()" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <FORM method="POST" name="progform" class="form-horizontal" role="form" id="progform" novalidate>
        <div style="COLOR:Red;" id="valerr"></div>
        <div class="form-group">
          <input type="hidden" name="regpgid" id="regpgid" ng-model="prog.regpgid">
          <input type="hidden" name="pgid" id="pgid" ng-model="prog.pgid">
        </div>
        <table class="table table-bordered table-condensed">
          <colgroup>
            <col class="col-sm-2">
            <col class="col-sm-3">
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-3">
          </colgroup>
          <tbody>
            <tr>
              <th style="background-color:#FFcc66">
                企画ID: <span ng-cloak>{{prog.regpgid}}({{prog.subno}})</span>
              </th>
              <th style="background-color:#FFcc66" colspan="4">
                <span ng-cloak>{{prog.name}}</span>
              </th>
            </tr>
            <tr>
              <th>企画短縮名</th>
                <td colspan="4">
                  <input type="text" name="sname" class="col-sm-12"
                    ng-model="prog.sname"/>
                </td>
            <tr>
              <th>担当スタッフ</th>
              <td>
                <select class="col-sm-12" name="staffid"
                    ng-model="prog.staffid"
                    ng-options="i.id as i.val for i in conf.stafflist">
                [%- IF urole == 'NORM' -%]
                  <option>ngReadonly</option>
                [%- END -%]
                </select>
              </td> 
              <th>実行ステータス</th>
              <td>
                <select class="col-sm-12" ng-model="prog.status"
                  ng-options="i for i in conf.status"></select>
              </td>
              <td>
                <input type="text" name="memo" class="col-sm-12"
                  ng-model="prog.memo"/>
              </td>
            </tr>
            <tr>
              <th>日時1</th>
              <td>
                <select class="col-sm-12" name="dh1date" ng-model="prog.date1"
                  ng-options="i for i in conf.dates"></select>
              </td>
              <td colspan="3">
                <select class="col-sm-2" name="dh1date" ng-model="prog.shour1"
                  ng-options="i for i in conf.hours1"></select>
                <select class="col-sm-2" name="dh1date" ng-model="prog.smin1"
                  ng-options="i for i in conf.mins"></select>
                <div align="center" class="col-sm-1"> - </div>
                <select class="col-sm-2" name="dh1date" ng-model="prog.ehour1"
                  ng-options="i for i in conf.hours1"></select>
                <select class="col-sm-2" name="dh1date" ng-model="prog.emin1"
                  ng-options="i for i in conf.mins"></select>
              </td>
            </tr>
            <tr>
              <th>日時2</th>
              <td>
                <select class="col-sm-12" name="dh2date" ng-model="prog.date2"
                  ng-options="i for i in conf.dates"></select>
              </td>
              <td colspan="3">
                <select class="col-sm-2" name="dh2date" ng-model="prog.shour2"
                  ng-options="i for i in conf.hours2"></select>
                <select class="col-sm-2" name="dh2date" ng-model="prog.smin2"
                  ng-options="i for i in conf.mins"></select>
                <div align="center" class="col-sm-1"> - </div>
                <select class="col-sm-2" name="dh2date" ng-model="prog.ehour2"
                  ng-options="i for i in conf.hours2"></select>
                <select class="col-sm-2" name="dh2date" ng-model="prog.emin2"
                  ng-options="i for i in conf.mins"></select>
              </td>
            </tr>
            <tr>
              <th>場所</th>
              <td colspan="2">
                <select class="col-sm-12" name="roomid" ng-model="prog.roomid"
                  ng-options="i.id as i.val for i in conf.roomlist"></select>
              </td>
              <th>表示順序</th>
              <td>
                <select class="col-sm-4" name="layerno" ng-model="prog.layerno"
                  ng-options="i for i in conf.nos"></select>
              </td>
            </tr>
            <tr>
              <th>企画紹介文</th>
                <td colspan="4">
                  <textarea name="progressprp" class="col-sm-12" rows="4"
                    ng-model="prog.progressprp"></textarea>
                </td>
            </tr>
          </tbody>
        </table>
      </FORM>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="$close()">閉じる</button>
      <button class="btn btn-primary" id="prgapplybtn"
        ng-disabled="progform.$invalid || progform.$pristine"
        ng-click="prgdoApply()">
        更新
      </button>
    </div>
  </div>
  </script>
  [%- PROCESS 'T_httpget_result.tt' -%]
</div> <!-- End of container  ng-controller progformController -->
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript" src="/static/js/conkan_prog_detail.js"></script>
</body>
</html> <!-- End of ng-app "conkanProgDetail" -->
