<!DOCTYPE html>
<html lang="ja" ng-app="conkanProgList">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan Program List">
<meta name="author" content="Studio REM">
<title>Conkan ProgramList</title>
[%- SET self_li_id = 'program_list' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-controller="progListController">
  <div class="well" id="gridlist">
    <div id="proglist" ui-grid="proggrid" class="grid" ui-grid-resize-columns>
    </div>
  </div> <!-- End of well gridlist -->
  [%- PROCESS 'T_httpget_result.tt' -%]
  <div id="pgAddDiv">
  [%- IF cuRole != 'NORM' %]
    <button type="button" class="btn btn-primary"
      ng-click="openRegPgAddForm()">
      追加
    </button>
    [% PROCESS 'program/T_add_regprog.tt' %]
  [% END -%]
  </div>
</div> <!-- End of container ng-app "conkanProgList" -->
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript">var allprg=true;</script>
<script type="text/javascript">var uriprefix="[% uriprefix %]";</script>
<script type="text/javascript" src="[% uriprefix %]/static/js/conkan_prog_list.js"></script>
</body>
</html>
