[Unit]
Description=conkan db backup
Requires=docker.service

[Service]
ExecStart=docker exec conkan /root/app/conkan/script/conkan_dbbackup.pl /root/app/conkan/conkan.yml /root/app/backup
Type=oneshot
