<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan mypage">
<meta name="author" content="Studio REM">
<title>Conkan MyPage</title>
[%- SET self_li_id = 'mypage' -%]
[%- SET useUiGrid  = 1 -%]
[%- PROCESS 'tthead.tt' -%]
<div class="container" ng-app="conkanProgList">
  <div class="well" id="gridlist" ng-controller="progListController">
    <div id="proglist" ui-grid="proggrid" class="grid" ui-grid-resize-columns>
    </div>
  </div> <!-- End of well gridlist -->
  [%- PROCESS 'T_httpget_result.tt' -%]
  <div id="pgAddDiv">
  </div>
</div> <!-- End of container ng-app "conkanProgList" -->
[%- PROCESS 'tttail.tt' -%]
<script type="text/javascript">var allprg=false;</script>
<script type="text/javascript" src="/static/js/conkan_prog_list.js"></script>
</body>
</html>
