<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan profile">
<meta name="author" content="Studio REM">
<title>Conkan Profile</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
[%- SET self_li_id = 'mypage_profile' -%]
[%- PROCESS 'tthead.tt' -%]
[%- DEFAULT state = 'inputform' -%]
[%- IF addstaff && state == 'success';
    SET state = 'initadd';
END -%]
<div class="container">
  <div class="well" id="inputform" style="display:none;">
    [% IF updstaff %]
      <div class="row">
        <div class="col-sm-5" style="COLOR:Red;">
          既に登録済みのアカウントです。パスワードを設定しなおして下さい
        </div>
        <div class="col-sm-2">
          <a href="/logout" class="btn btn-sm btn-info">キャンセル</a>
        </div>
      </div>
    [% END %]
    <FORM method="POST" class="form-horizontal" role="form" action="/mypage/profile" id="profform">
      [% PROCESS 'ttprofinput.tt' %]
      <BR/>
      <div class="form-group">
        <span class="col-sm-1"></span>
        <button type="submit" class="col-sm-2 text-center btn btn-primary btn-large" id="dobtn">
          [%- IF addstaff %]
            登録
          [%- ELSE %]
            更新
          [% END %]
        </button>
        <span class="col-sm-1"></span>
        [%- IF! addstaff %]
          <a class="col-sm-3 text-center btn btn-large" href="/mypage/list">マイページに戻る</a>
        [% END %]
      </div>
    </FORM>
  </div>
  <div class="well" id="success" style="display:none;">
    <H1>
      [%- IF addroot || addstaff -%]
      登録
      [%- ELSE -%]
      更新
      [%- END -%]
      しました</H1>
    <a class="btn btn-primary btn-large" href="/mypage/list">マイページに戻る</a>
  </div>
  <div class="well" id="deny" style="display:none;">
    <H1>更新できませんでした</H1>
    更新を始めてから登録するまでの間に、システム管理者が更新しました。
    改めて実施してください
    <a class="btn btn-primary btn-large" href="/mypage/list">マイページに戻る</a>
  </div>
  <div class="well" id="initadd" style="display:none;">
    <H1>登録しました</H1>
    [% IF addroot %]
      登録した管理者でloginしなおしてください
    [% ELSE %]
      loginしてください
    [% END %]
    <a class="btn btn-primary btn-large" href="/logout">login</a>
  </div>
</div>
[% PROCESS 'tttail.tt' %]
[% PROCESS 'ttprofjs.tt' %]
</body>
</html>

