<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="conkan profile">
<meta name="author" content="Studio REM">
<title>Conkan Profile</title>
[%- SET self_li_id = 'mypage_profile' -%]
[%- SET useWijGrid = 0 %]
[%- SET useUiGrid = 0 %]
[%- PROCESS 'tthead.tt' -%]
[%- DEFAULT state = 'inputform' -%]
[%- IF addstaff && state == 'success';
    SET state = 'initadd';
END -%]
<div class="container">
  <div class="well" id="inputform" style="display:none;">
    [% IF updstaff %]
      <div class="row">
        <div class="col-sm-5" style="COLOR:Red;">
          既に登録済みのアカウントです。パスワードを設定しなおして下さい
        </div>
        <div class="col-sm-2">
          <a href="/logout" class="btn btn-sm btn-info">キャンセル</a>
        </div>
      </div>
    [% END %]
    <FORM method="POST" class="form-horizontal" role="form" action="/mypage/profile" id="profform">
      [% PROCESS 'ttprofinput.tt' %]
      <BR/>
      <div class="form-group">
        <span class="col-sm-1"></span>
        <button type="submit" class="col-sm-2 text-center btn btn-primary btn-large" id="dobtn">
          [%- IF addstaff %]
            登録
          [%- ELSE %]
            更新
          [% END %]
        </button>
        <span class="col-sm-1"></span>
        [%- IF! addstaff %]
          <a class="col-sm-3 text-center btn btn-large" href="/mypage/list">マイページに戻る</a>
        [% END %]
      </div>
    </FORM>
  </div>
  <div class="well" id="success" style="display:none;">
    <H1>
      [%- IF addroot || addstaff -%]
      登録
      [%- ELSE -%]
      更新
      [%- END -%]
      しました</H1>
    <a class="btn btn-primary btn-large" href="/mypage/list">マイページに戻る</a>
  </div>
  <div class="well" id="deny" style="display:none;">
    <H1>更新できませんでした</H1>
    更新を始めてから登録するまでの間に、システム管理者が更新しました。
    改めて実施してください
    <a class="btn btn-primary btn-large" href="/mypage/list">マイページに戻る</a>
  </div>
  <div class="well" id="initadd" style="display:none;">
    <H1>登録しました</H1>
    [% IF addroot %]
      登録した管理者でloginしなおしてください
    [% ELSE %]
      loginしてください
    [% END %]
    <a class="btn btn-primary btn-large" href="/logout">login</a>
  </div>
</div>
[% PROCESS 'tttail.tt' %]
<script type="text/javascript"> <!-- TTマクロを含むので、srcではなく埋め込み -->
  // 役割 選択リスト アクティベイト, 有効なdivを表示
  $(document).ready(function() {
    $('#[%- rs.role | html -%]').prop('selected', true);
    $('#[%- state | html -%]').show();
    if ( '[% cuRole -%]' != 'ROOT' && ![% addroot %]) {
      $('#account').prop('readonly', 'readonly');
      $('#account').css('background-color', '#eee' );
      $('#role').prop('readonly', 'readonly');
      $('#role').css('background-color', '#eee' );
    }
  } );
  // バリデーション
  $('#dobtn').click(function(){
    if (!$('#account').val()) {
        $('#valerr').text('アカウントは必須です');
        return false;
    }
    if ( $('#passwd').val() ) {
        if ( $('#passwd').val() != $('#passwd2').val() ) {
            $('#valerr').text('パスワードとパスワード(確認)が一致しません');
            return false;
        }
    }
    [%- IF addroot || addstaff || updstaff %]
    else {
        $('#valerr').text('パスワードは必須です');
        return false;
    }
    [% END -%]
  } );
  // キャンセル(管理者による更新の場合のみ)
  $('#cancel').click(function(){
  } );
</script>
</body>
</html>

